*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

    
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main img {
    top: 9%;
    height: 600px;
    position: absolute;
    z-index: 99;
}

                                    /* 1st scrollbar */
#scroll-div{                          
    position: absolute;
    /* height: 100px; */
    top:20%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div::-webkit-scrollbar{
    display: none;
}
#scroll-div h1 {
  display: inline-block;
  font-size: 110px;
  margin-right: 30px;
  letter-spacing: 4px;
  font-family: "Monument Extended", sans-serif;
  font-weight: 900;             
  animation-name: hey;
  animation-duration: 2s;       
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  margin: 0;
  padding: 0 10px;
}
                                  /* 2st scrollbar */
#scroll-div2{                          
    position: absolute;
    /* height: 100px; */
    top:40%;
    width: 100%;
    z-index: 100;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div2::-webkit-scrollbar{
    display: none;
}
#scroll-div2 h1{
    display: inline-block;
    font-size: 110px;
    text-transform: uppercase;
    margin-right: 30px;
letter-spacing: 4px;
color: transparent;
    font-family: "Monument Extended", sans-serif;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:#000 ;
    font-weight: 900;             
  animation-name: hey;
  animation-duration: 5s;       
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}
                                   /* 3st scrollbar */
#scroll-div3{                          
    position: absolute;
    /* height: 100px; */
    top: 60%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div3::-webkit-scrollbar{
    display: none;
}
#scroll-div3 h1{
   display: inline-block;
  font-size: 110px;
  margin-right: 30px;
  letter-spacing: 4px;
  font-family: "Monument Extended", sans-serif;
  font-weight: 900;             
  animation-name: hey;
  animation-duration: 2s;       
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-direction: reverse;
  margin: 0;
  padding: 0 10px;

}
#text-div {
    font-size: 30px;
    position: absolute;
    font-family: monument;
    text-align: center;
        /* background-color: red; */
    width: 50%;
    z-index: 999;
    text-align: center;
    top: 10%;
    text-transform: uppercase;

}


.photo-box{
    border-radius: 10%;
    width: 500px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.photo{
        border-radius: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: absolute;
}





@keyframes hey{
  0% {
   transform: translateX(calc(-100% - 30px));
  }
  100% {
    transform: translateX(0);
  }
}